<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wms.mapper.deal.WarehouseDealsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wms.model.entity.WarehouseDealsEntity">
        <id column="ID" property="id" />
    <result column="CREATED_BY" property="createdBy" />
    <result column="CREATED_DATE" property="createdDate" />
    <result column="LAST_UPDATED_BY" property="lastUpdatedBy" />
    <result column="LAST_UPDATED_DATE" property="lastUpdatedDate" />
    <result column="DELETED_BY" property="deletedBy" />
    <result column="DELETED_DATE" property="deletedDate" />
    <result column="IS_DELETED" property="isDeleted" />
        <result column="NAME" property="name" />
        <result column="DEAL_CODE" property="dealCode" />
        <result column="TRANSACTIONS_CODE" property="transactionsCode" />
        <result column="STATUS" property="status" />
    </resultMap>


    <!-- 通用查询映射结果 -->
    <resultMap id="BoResultMap" type="com.wms.model.bo.deal.WarehouseDealsBo">
        <id column="ID" property="id" />
        <result column="CREATED_BY" property="createdBy" />
        <result column="CREATED_DATE" property="createdDate" />
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" />
        <result column="LAST_UPDATED_DATE" property="lastUpdatedDate" />
        <result column="DELETED_BY" property="deletedBy" />
        <result column="DELETED_DATE" property="deletedDate" />
        <result column="IS_DELETED" property="isDeleted" />
                <result column="NAME" property="name" />
                <result column="DEAL_CODE" property="dealCode" />
                <result column="TRANSACTIONS_CODE" property="transactionsCode" />
                <result column="STATUS" property="status" />
        </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        CREATED_BY,
        CREATED_DATE,
        LAST_UPDATED_BY,
        LAST_UPDATED_DATE,
        DELETED_BY,
        DELETED_DATE,
        IS_DELETED,
        ID, NAME, DEAL_CODE, TRANSACTIONS_CODE, STATUS
    </sql>

    <select id="getWarehouseDealsById" resultMap="BoResultMap">
        select
        <include refid="Base_Column_List"/>
        from WMS_WAREHOUSE_DEALS where id = #{id}
    </select>

    <select id="getWarehouseDealsPageList" resultMap="BoResultMap">
        select
        <include refid="Base_Column_List"/>
        from WMS_WAREHOUSE_DEALS
    </select>

</mapper>
