<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wms.mapper.warehouse.WarehouseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wms.model.entity.WarehouseEntity">
        <id column="ID" property="id" />
    <result column="CREATED_BY" property="createdBy" />
    <result column="CREATED_DATE" property="createdDate" />
    <result column="LAST_UPDATED_BY" property="lastUpdatedBy" />
    <result column="LAST_UPDATED_DATE" property="lastUpdatedDate" />
    <result column="DELETED_BY" property="deletedBy" />
    <result column="DELETED_DATE" property="deletedDate" />
    <result column="IS_DELETED" property="isDeleted" />
        <result column="NAME" property="name" />
        <result column="WAREHOUSE_CODE" property="warehouseCode" />
        <result column="WAREHOUSE_TYPE" property="warehouseType" />
        <result column="WAREHOUSE_CLASSIFY" property="warehouseClassify" />
        <result column="IS_AUTO" property="isAuto" />
        <result column="DEPARTMENT_NAME" property="departmentName" />
        <result column="DEPARTMENT_NO" property="departmentNo" />
        <result column="PHONE" property="phone" />
        <result column="STATE" property="state" />
        <result column="CONNECT_STATE" property="connectState" />
        <result column="INVENTORY_TYPE" property="inventoryType" />
        <result column="IS_VERIFICATION" property="isVerification" />
        <result column="IS_ACCOUNTING" property="isAccounting" />
        <result column="VERIFICATION_TYPE" property="verificationType" />
        <result column="WAREHOUSE_LEVEL" property="warehouseLevel" />
        <result column="PROJECT_CODE" property="projectCode" />
        <result column="PLACE" property="place" />
        <result column="KEYID" property="keyid" />
        <result column="VERSION" property="version" />
        <result column="DETAILS" property="details" />
    </resultMap>


    <!-- 通用查询映射结果 -->
    <resultMap id="BoResultMap" type="com.wms.model.bo.warehouse.WarehouseBo">
        <id column="ID" property="id" />
        <result column="CREATED_BY" property="createdBy" />
        <result column="CREATED_DATE" property="createdDate" />
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" />
        <result column="LAST_UPDATED_DATE" property="lastUpdatedDate" />
        <result column="DELETED_BY" property="deletedBy" />
        <result column="DELETED_DATE" property="deletedDate" />
        <result column="IS_DELETED" property="isDeleted" />
                <result column="NAME" property="name" />
                <result column="WAREHOUSE_CODE" property="warehouseCode" />
                <result column="WAREHOUSE_TYPE" property="warehouseType" />
                <result column="WAREHOUSE_CLASSIFY" property="warehouseClassify" />
                <result column="IS_AUTO" property="isAuto" />
                <result column="DEPARTMENT_NAME" property="departmentName" />
                <result column="DEPARTMENT_NO" property="departmentNo" />
                <result column="PHONE" property="phone" />
                <result column="STATE" property="state" />
                <result column="CONNECT_STATE" property="connectState" />
                <result column="INVENTORY_TYPE" property="inventoryType" />
                <result column="IS_VERIFICATION" property="isVerification" />
                <result column="IS_ACCOUNTING" property="isAccounting" />
                <result column="VERIFICATION_TYPE" property="verificationType" />
                <result column="WAREHOUSE_LEVEL" property="warehouseLevel" />
                <result column="PROJECT_CODE" property="projectCode" />
                <result column="PLACE" property="place" />
                <result column="KEYID" property="keyid" />
                <result column="VERSION" property="version" />
                <result column="DETAILS" property="details" />
        </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        CREATED_BY,
        CREATED_DATE,
        LAST_UPDATED_BY,
        LAST_UPDATED_DATE,
        DELETED_BY,
        DELETED_DATE,
        IS_DELETED,
        ID, NAME, WAREHOUSE_CODE, WAREHOUSE_TYPE, WAREHOUSE_CLASSIFY, IS_AUTO, DEPARTMENT_NAME, DEPARTMENT_NO, PHONE, STATE, CONNECT_STATE, INVENTORY_TYPE, IS_VERIFICATION, IS_ACCOUNTING, VERIFICATION_TYPE, WAREHOUSE_LEVEL, PROJECT_CODE, PLACE, KEYID,VERSION, DETAILS
    </sql>
    <update id="updateWarehouseState">
        update WMS_WAREHOUSE set STATE = #{state} where  WAREHOUSE_CODE = #{code}
    </update>
    <update id="updateWarehouseConnectionState">
        update WMS_WAREHOUSE set CONNECT_STATE = #{state} where  WAREHOUSE_CODE = #{code}
    </update>

    <select id="getWarehouseById" resultMap="BoResultMap">
        select
        <include refid="Base_Column_List"/>
        from WMS_WAREHOUSE where id = #{id}
    </select>

    <select id="getWarehousePageList" resultMap="BoResultMap">
        select
        <include refid="Base_Column_List"/>
        from WMS_WAREHOUSE
    </select>
    <select id="queryWarehouseByCode" resultType="com.wms.model.bo.warehouse.WarehouseBo">
        select
        <include refid="Base_Column_List"/>
        from WMS_WAREHOUSE where WAREHOUSE_CODE = #{code}
    </select>
    <select id="queryIDByWarehouseCode" resultType="java.lang.String">
        select ID from WMS_WAREHOUSE where WAREHOUSE_CODE = #{code}
    </select>
    <select id="queryWarehouseList" resultType="com.wms.model.bo.warehouse.WarehouseBo">
        select
        <include refid="Base_Column_List"/>
        from WMS_WAREHOUSE
    </select>

</mapper>
